<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>História</title>
    <style>
    body {
        background: url('https://c4.wallpaperflare.com/wallpaper/35/854/568/world-war-ii-wallpaper-preview.jpg') fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    h1 {
        background-color: #91F5E6;
        text-align: center;
        width: 60%;
        margin-left: 270px;
        border-radius: 30px;
        padding: 20px;
    }
    h2 {
        text-decoration: underline;
        text-align: center;
    }
    main {
        background-color: white;
        color: black;
        border-radius: 30px;
        text-align: justify;
        width: 60%;
        margin-left: 270px;
        padding: 20px;
    }
    .button1 {
        background-color: black;
        color: #91F5E6;
        padding: 25px;
        width: 300px;
        margin: 50px;
        border-radius: 30px;
        font-size: 20px;
        border: 10px solid #91F5E6;
    }
    .button2 {
        background-color: black;
        color: #91F5E6;
        padding: 25px;
        width: 300px;
        margin: 50px;
        border-radius: 30px;
        font-size: 20px;
        border: 10px solid #91F5E6;
    }
    </style>
</head>
<body>
    <h1 id="top">História da Segunda Guerra Mundial</h1>
    <main>
        <h2>Causas</h2>
        <p>&emsp; A Segunda Guerra Mundial está relacionada com a expansão do totalitarismo na Europa e teve como causa
            direta o expansionismo germânico naquele período. Além disso, a derrota na Primeira Guerra tornou-se fonte
            de humilhação e causa de uma grave crise econômica que atingiu a Alemanha na década de 1920.</p>

        <p>&emsp; Esse cenário permitiu a ascensão do radicalismo da extrema-direita, cujo expoente máximo foi o
            nazismo. Os nazistas criticavam os termos do Tratado de Versalhes, defendiam a militarização da Alemanha e
            tinham opiniões abertamente antissemitas. O crescimento dos nazistas durante a República de Weimar
            (1919-1933) foi exponencial, muito por conta de Adolf Hitler.</p>

        <p>&emsp; Os nazistas, por fim, assumiram o poder na Alemanha, em 1933, e iniciaram a construção de um governo
            totalitário. Progressivamente, eles procuraram recuperar a economia alemã e reorganizar o exército alemão
            (desestruturado desde a Primeira Guerra). Uma vez que as forças militares alemãs eram fortes o bastante,
            deu-se início à expansão territorial.</p>

        <p>&emsp; A expansão territorial defendida pelos alemães fazia parte de um elemento da ideologia nazista que
            defendia a formação de um “espaço vital” que abrigaria os arianos. A prosperidade dos alemães seria
            garantida por meio da exploração de povos enxergados como “inferiores”, como os eslavos.</p>

        <p>&emsp; No final da década de 1930, os alemães voltaram-se, a princípio, contra a Áustria, nação
            historicamente de idioma e cultura alemãs. Planos de unificação da Alemanha e Áustria tinham sido ventilados
            após a Primeira Guerra, mas foram barrados durante as negociações que levaram à assinatura do Tratado de
            Versalhes.</p>

        <p>&emsp; Em 1938, os alemães iniciaram uma campanha maciça para garantir a unificação dos dois países. Isso se
            concretizou em março de 1938, em um evento conhecido como Anschluss. Depois, os alemães voltaram-se contra a
            Checoslováquia, por conta de uma região daquele país chamada Sudetos.</p>

        <p>&emsp; As exigências alemãs sobre os Sudetos alarmaram ingleses e franceses, e a tensão diplomática na Europa
            aumentou. Para contornar essa situação, foi organizada a Conferência de Munique, em 1938. Nessa conferência,
            ingleses e franceses, temerosos de que uma guerra fosse iniciada, cederam às pressões alemãs e permitiram
            que os alemães invadissem o território da Checoslováquia.</p>

        <p>&emsp; Um ponto importante da Conferência de Munique é que ingleses e franceses demandaram de Hitler o
            compromisso de que a Checoslováquia seria a última exigência territorial da Alemanha. Hitler firmou esse
            acordo, mas estava blefando. Ele não acreditava que ingleses e franceses teriam coragem de declarar guerra
            aos alemães.</p>
        <p>&emsp; Assim, em 1939, Hitler colocou seu olhos sobre a Polônia. À medida que a tensão entre Alemanha e
            Polônia aumentava, ingleses e franceses assinaram acordos militares com o segundo país para resguardá-lo, em
            caso de agressão do primeiro. Como Hitler não acreditava na resposta francesa e inglesa, ele ordenou o
            ataque contra a Polônia em 1º de setembro de 1939.</p>

        <p>&emsp; Esse ato de agressão foi considerado o estopim da Segunda Guerra, pois, dias depois, Reino Unido e
            França declararam guerra à Alemanha. </p>

        <p>Texto copiado de: <a href="https://www.historiadomundo.com.br/idade-contemporanea/segunda-guerra-mundial.htm">https://www.historiadomundo.com.br/idade-contemporanea/segunda-guerra-mundial.htm</a></p>
        <br><br>

        <h2>Tríplice Aliança X Tríplice Entente</h2>
        <p>&emsp; A Segunda Guerra Mundial contou com o envolvimento de dezenas de países. Os participantes da Segunda
            Guerra Mundial podem ser agrupados em dois grupos.</p>

        <p>&emsp; Aliados: Reino Unido, França, União Soviética e Estados Unidos eram os membros principais.</p>
        <p>&emsp; Eixo: Alemanha, Itália e Japão eram os membros principais.</p>
        <p>&emsp; Naturalmente, ao longo da guerra, diversos outros países foram tomando partido e juntando-se a um dos
            dois lados que estavam na luta. Do lado dos Aliados, por exemplo, lutaram o Canadá, o Brasil, a Austrália, a
            China, a Holanda etc. No Eixo, atuaram nações como Hungria, Romênia, Croácia etc. É importante mencionar que
            em diversos locais que os nazistas pisaram houve colaboracionismo, mas também houve resistência.</p>
        <p>&emsp; Um símbolo do colaboracionismo com os nazistas foi Vidkun Quisling, nazista da Noruega que organizou o
            plano de invasão de seu próprio país com os alemães. Símbolos de resistência contra os nazistas foram, por
            exemplo, os guerrilheiros (partisans) da Bielorrússia (conhecida atualmente como Belarus) que organizaram
            forças nas florestas de seu país e atuaram por anos sabotando os nazistas.</p>
        <p>Texto copiado de: <a href="https://brasilescola.uol.com.br/historiag/aliancas-segunda-guerra.htm">https://brasilescola.uol.com.br/historiag/aliancas-segunda-guerra.htm</a></p>
        <br><br>


        <h2>Acontecimentos</h2>
        <p>&emsp; - Invasão da Polônia por Hitler, em setembro de 1939: deu início à guerra;</p>
        <p>&emsp; - Campanha da França (1940): o Eixo conseguiu vencer o Reino Unido, Polônia, Bélgica e Países Baixos;
        </p>
        <p>&emsp; - Ataque do Japão à base americana de Pearl Harbor: provocou a união dos Estados Unidos com os
            Aliados;</p>
        <p>&emsp; - Cerco a Leningrado (1941 a 1944): forças do Eixo tentaram vencer a Rússia, mas não tiveram sucesso;
        </p>
        <p>&emsp; - Invasão da Normandia (1944): também conhecida como Dia D, marcou uma importante reação dos Aliados
            contra o Eixo;</p>
        <p>&emsp; - Batalha de Stalingrado (1942 a 1945): forças do Eixo tentaram derrotar a Rússia, mas foram vencidas
            pelo inverno russo.</p>
        <p>Texto copiado de: <a href="https://www.stoodi.com.br/blog/historia/segunda-guerra-mundial-resumo/">https://www.stoodi.com.br/blog/historia/segunda-guerra-mundial-resumo/</a></p>
        <br><br>

        <h2>Principais Líderes</h2>
        <h3>Adolf Hitler</h3>&emsp; Chamado também de Führer (chefe), foi cabo do exército alemão na Primeira
        Guerra Mundial e, ao término do acontecimento, fundou um partido de extrema direita que logo se tornou um
        Partido Nazista. Tentou dar um golpe de estado e assumir o governo em 1923, mas acabou sendo levado para a
        prisão. Na cadeia, escreveu o livro "Minha Luta", com teses racistas e antissemitas. Em 1933, foi nomeado
        chanceler alemão e deu início à Segunda Guerra ordenando o ataque à Polônia, em 1939. Em 1941, assumiu o
        controle das Forças Armadas, impondo um regime totalmente nacionalista. Sob sua liderança, o regime nazista
        executou um dos maiores genocídios da História, matando pelo menos 6 milhões de judeus e milhões de outras
        pessoas consideradas "sub-humanas" ou "indesejáveis". Em 1945, enquanto as forças soviéticas batalhavam pela
        capital alemã, Hitler cometeu suicídio em seu quartel-general.
        <h3>Benito Mussolini</h3>&emsp; Chamado de Duce da Itália, que significa condutor, elegeu a si próprio como
        Primeiro-ministro do país, cargo que ocupou de 1922 a 1943. Mussolini foi um dos fundadores do fascismo, que
        incluía elementos como nacionalismo, expansionismo, progresso social e anticomunismo. Tornou a Itália uma das
        potências do grupo do Eixo, ao lado da Alemanha nazista de Hitler.
        <h3>Charles De Gaulle</h3>&emsp; De Gaulle foi uma figura central na Segunda Guerra, liderando o movimento
        Franceses Livres e sendo chefe provisório do governo francês após a libertação do país na Segunda Guerra
        Mundial. Resistiu bravamente às investidas da Alemanha nazista até conseguir retomar o controle das colônias.
        Depois, de 1958 a 1959, foi presidente de seu país e empregou com veemência a França como nação livre e
        independente, sem associação a nenhum país aliado.
        <h3>Franklin Roosevelt</h3>&emsp; Foi presidente dos Estados Unidos na época da Segunda Guerra Mundial, tendo
        sido reeleito três vezes. Tornou os EUA peça-chave na vitória dos Aliados sobre os alemães no final da Segunda
        Guerra, porém morreu nos momentos finais das batalhas em 1945, dando lugar a Harry Truman. Foi um dos
        incentivadores do capitalismo e da plena democracia.
        <h3>Hideki Tojo</h3>&emsp; Primeiro-ministro do Japão na maior parte da Segunda Guerra, de 1941 a 1944,
        coordenou a luta de seu país a favor dos países do Eixo (Alemanha e Itália). Foi condenado à morte pelos crimes
        de guerra no Japão Imperial, em 1948.
        <h3>Josef Stalin</h3>&emsp; Primeiro-ministro da União Soviética de 1941 a 1953, Stalin era um comunista com
        ideias revolucionárias que recebeu todos os créditos pelo sucesso soviético. O líder de origem humilde empregava
        postura antifascista, mas deportou mais de três milhões de pessoas do território soviético por diferenças
        étnicas ou por serem opositoras ao seu governo.
        <h3>Winston Churchill</h3>&emsp; Foi o primeiro-ministro britânico durante o período da guerra. Ele reacendeu o
        espírito patriota britânico, com discursos entusiastas ao povo, afirmando que só interessava a vitória à
        Inglaterra, que, "sem a vitória, não sobreviveremos". Mesmo tendo seu território bombardeado seguidamente pela
        Alemanha, não sinalizou desistência, e sua postura acabou sendo fundamental para o término da Segunda Guerra.
        Durante o período, manteve dublês para aparições em público. Um deles, inclusive, acabou morrendo ao ter seu
        avião derrubado pelos alemães. Posteriormente, em 1953, ganhou o Prêmio Nobel de Literatura por uma descrição
        histórica e biográfica da Segunda Guerra Mundial.
        <p>Texto copiado de: <a href="https://www.bol.uol.com.br/listas/alem-de-hitler-voce-sabe-quem-foram-os-lideres-da-segunda-guerra-mundial.htm">https://www.bol.uol.com.br/listas/alem-de-hitler-voce-sabe-quem-foram-os-lideres
            -da-segunda-guerra-mundial.htm</a></p>
        <br><br>

        <h2>Consequências</h2>
        <p>&emsp; A Segunda Guerra Mundial, ocorrida entre 1939 e 1945, deixou milhares de mortos, incontáveis feridos e
            redefiniu o equilíbrio de poder mundial.</p>
        <p>&emsp; As principais consequências deste conflito foram a ascensão dos Estados Unidos, a divisão do mundo
            entre capitalismo e socialismo e o surgimento da ONU.</p>
        <p>&emsp; No Brasil, verifica-se o fim do governo de Getúlio Vargas e a aproximação com os americanos.</p>
        <p>Texto copiado de: <a href="https://www.todamateria.com.br/consequencias-da-segunda-guerra-mundial/">
            https://www.todamateria.com.br/consequencias-da-segunda-guerra-mundial/</a></p>
        <br><br>

        <a href="#">
            <button class="button1">
                Voltar ao Topo
            </button>
        </a>

        <a href="https://segunda-guerra-mundial.herokuapp.com/">
            <button class="button2">
                Voltar à Página Inicial
            </button>
        </a>

    </main>
</body>
</html>
