<!DOCTYPE html>
<html lang="pt-br" xmlns:br="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Livros</title>
    <style>
        body {
            background: url('https://wallpaperaccess.com/full/139417.jpg') fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: pink;
        }
        h1 {
            background-color: #60f075;
            text-align: center;
            padding: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 40px;
            width: 60%;
        }
        main {
            background-color: #60f075;
            text-align: center;
            margin-left: 250px;
            margin-right: 250px;
            padding: 20px;
            border-radius: 40px;
        }
        img {
            border-radius: 30px;
            border: 10px solid black;
        }
        p {
            text-align: justify;
        }
        button {
            background-color: black;
            color: #60f075;
            border-radius: 20px;
            width: 250px;
            padding: 15px;
            font-size: 20px;
            font-style: italic;
            border: 10px solid #60f075;
        }
    </style>
</head>
<body>
<h1> Livros da Segunda Guerra Mundial </h1>
    <main>
        <h2> A menina que roubava livros (2005)</h2>
        <a href="https://www.amazon.com.br/Menina-que-Roubava-Livros/dp/8598078174/ref=asc_df_8598078174/?tag=googleshopp00-20&linkCode=df0&hvadid=379787615198&hvpos=&hvnetw=g&hvrand=6535169436520438550&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9102451&hvtargid=pla-571954393097&psc=1">
            <img src="{{ url_for('static', filename='book-1.jpg')}}">
        </a>
        <h3> Sinopse: </h3>
        <p> &emsp; A trajetória de Liesel Meminger é contada por uma narradora mórbida, surpreendentemente simpática.
            Ao perceber que a pequena ladra de livros lhe escapa, a Morte afeiçoa-se à menina e rastreia suas pegadas de
            1939 a 1943. Traços de uma sobrevivente: a mãe comunista, perseguida pelo nazismo, envia Liesel e o irmão
            para o subúrbio pobre de uma cidade alemã, onde um casal se dispõe a adotá-los por dinheiro. O garoto morre
            no trajeto e é enterrado por um coveiro que deixa cair um livro na neve. É o primeiro de uma série que a
            menina vai surrupiar ao longo dos anos. O único vínculo com a família é esta obra, que ela ainda não sabe
            ler. </p>
        <p> &emsp; Assombrada por pesadelos, ela compensa o medo e a solidão das noites com a conivência do pai adotivo,
            um pintor de parede bonachão que lhe dá lições de leitura. Alfabetizada sob vistas grossas da madrasta,
            Liesel canaliza urgências para a literatura. Em tempos de livros incendiados, ela os furta, ou os lê na
            biblioteca do prefeito da cidade. </p>
        <p> &emsp; A vida ao redor é a pseudo-realidade criada em torno do culto a Hitler na Segunda Guerra. Ela assiste
            à eufórica celebração do aniversário do Führer pela vizinhança. Teme a dona da loja da esquina, colaboradora
            do Terceiro Reich. Faz amizade com um garoto obrigado a integrar a Juventude Hitlerista. E ajuda o pai a
            esconder no porão um judeu que escreve livros artesanais para contar a sua parte naquela História. A Morte,
            perplexa diante da violência humana, dá um tom leve e divertido à narrativa deste duro confronto entre a
            infância perdida e a crueldade do mundo adulto, um sucesso absoluto - e raro - de crítica e público. </p>
        <br><br>

        <h2> Os útlimos dias de nossos pais (2015)</h2>
        <a href="https://www.amazon.com.br/Os-%C3%BAltimos-dias-nossos-pais-ebook/dp/B00V757CQW">
            <img src="{{ url_for('static', filename='book-2.jpeg')}}">
        </a>
        <h3> Sinopse: </h3>
        <p> &emsp; Após a frustração de ter tido o Exército britânico encurralado em Dunquerque, Winston Churchill tem
            uma ideia capaz de mudar o curso da guerra: a criação de uma nova seção do serviço secreto britânico, a SOE
            (Executiva de Operações Especiais), responsável por conduzir ações de sabotagem e se infiltrar nas linhas
            inimigas. Algo jamais feito na história. </p>
        <p> &emsp; Na esperança de se juntar à Resistência, o jovem Paul-Émile deixa Paris e vai para Londres. Logo
            recrutado pela SOE, ele se integra a um grupo de franceses que se tornam seus companheiros de coração e de
            armas. Passando por formações e treinamentos intensos nos quatro cantos da Inglaterra, os selecionados
            voltarão para a França ocupada para contribuir na resistência. Mas a espionagem alemã está alerta... </p>
        <p> &emsp; A existência da SOE por muito tempo foi mantida em segredo. Várias décadas após o fim das atrocidades
            da Segunda Guerra, Os últimos dias de nossos pais é um dos primeiros romances a abordar sua criação e a
            relembrar as verdadeiras relações entre a Resistência e a Inglaterra de Churchill. Dicker constrói um livro
            sobre amor, amizade e medo, com uma profunda reflexão sobre o ser humano e suas fraquezas. </p>
        <br><br>

        <h2> Toda luz que não podemos ver (2014)</h2>
        <a href="https://www.amazon.com.br/Toda-Luz-que-n%C3%A3o-Podemos/dp/8580576970/ref=asc_df_8580576970/?tag=googleshopp00-20&linkCode=df0&hvadid=379720205994&hvpos=&hvnetw=g&hvrand=9915269215304620110&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9102451&hvtargid=pla-755962029262&psc=1">
            <img src="{{ url_for('static', filename='book-3.jpg')}}">
        </a>
        <h3> Sinopse: </h3>
        <p> &emsp; Marie-Laure vive em Paris, perto do Museu de História Natural, onde seu pai é o chaveiro responsável por
            cuidar de milhares de fechaduras. Quando a menina fica cega, aos seis anos, o pai constrói uma maquete em
            miniatura do bairro onde moram para que ela seja capaz de memorizar os caminhos. Na ocupação nazista em
            Paris, pai e filha fogem para a cidade de Saint-Malo e levam consigo o que talvez seja o mais valioso
            tesouro do museu. Em uma região de minas na Alemanha, o órfão Werner cresce com a irmã mais nova, encantado
            pelo rádio que certo dia encontram em uma pilha de lixo. Com a prática, acaba se tornando especialista no
            aparelho, talento que lhe vale uma vaga em uma escola nazista e, logo depois, uma missão especial: descobrir
            a fonte das transmissões de rádio responsáveis pela chegada dos Aliados na Normandia. Cada vez mais
            consciente dos custos humanos de seu trabalho, o rapaz é enviado então para Saint-Malo, onde seu caminho
            cruza o de Marie-Laure, enquanto ambos tentam sobreviver à Segunda Guerra Mundial.</p>
        <br><br>

        <h2> Mulheres sem nome (2017)</h2>
        <a href="https://www.amazon.com.br/Mulheres-Nome-Hall-Kelly-Martha/dp/8551002554">
            <img src="{{ url_for('static', filename='book-4.jpg')}}">
        </a>
        <h3> Sinopse: </h3>
        <p> &emsp; A socialite nova-iorquina Caroline Ferriday está sobrecarregada de trabalho no Consulado da França,
            em função da iminência da guerra. O ano é 1939 e o Exército de Hitler acaba de invadir a Polônia, onde Kasia
            Kuzmerick vai deixando para trás a tranquilidade da infância conforme se envolve cada vez mais com o
            movimento de resistência de seu país. Distante das duas, a ambiciosa Herta Oberheuser tem a oportunidade de
            se libertar de uma vida desoladora e abraçar o sonho de se tornar médica cirurgiã, a serviço da Alemanha.
        </p>
        <p> &emsp; Três mulheres cujas trajetórias se cruzam quando o impensável acontece: Kasia é capturada e levada
            para o campo de concentração feminino de Ravensbrück, onde Herta agora exerce sua controversa medicina. Uma
            história que atravessa continentes — dos Estados Unidos à França, da Alemanha à Polônia — enquanto Caroline
            e Kasia persistem no sonho de tornar o mundo um lugar melhor.</p>
        <br><br>

        <h2> Caçadores de nazistas (2015)</h2>
        <a href="https://www.amazon.com.br/Ca%C3%A7adores-Nazistas-Andrew-Nagorski/dp/8551003291/ref=sr_1_1?adgrpid=84203718634&gclid=CjwKCAiAzrWOBhBjEiwAq85QZ2mdr9tIS1ED_oRW8oCCyrfQ0qq8_ZaISSCd4rimHQZNvANsyw613BoCsyYQAvD_BwE&hvadid=426015983417&hvdev=c&hvlocphy=9102451&hvnetw=g&hvqmt=b&hvrand=15762798199860162321&hvtargid=kwd-475974071963&hydadcr=5652_11235189&keywords=ca%C3%A7adores+de+nazistas&qid=1640884725&sr=8-1">
            <img src="{{ url_for('static', filename='book-5.jpg')}}">
        </a>
        <h3> Sinopse: </h3>
        <p> &emsp; Após os julgamentos de Nuremberg e o começo da Guerra Fria, os vencedores da Segunda Guerra se deram
            por satisfeitos e perderam o interesse em punir os nazistas que cometeram crimes durante o conflito.
            Caçadores de nazistas coloca em foco a pequena parcela de pessoas que atuou — tanto em cargos oficiais
            quanto de forma independente — para reverter o êxito inicial desses criminosos de guerra e impedir que o
            mundo esquecesse seus atos. Com determinação e coragem, esses homens e mulheres seguiram lutando mesmo
            enquanto os países vitoriosos e o resto do mundo se tornavam cada vez mais indiferentes ao destino desses
            infratores.</p>
        <p> &emsp; Andrew Nagorski conta as histórias impressionantes de caçadores emblemáticos, como Simon Wiesenthal e
            Serge Klarsfeld, e também daqueles que trabalharam longe dos holofotes da imprensa, incluindo os jovens
            promotores americanos dos tribunais de Nuremberg e Dachau, Benjamin Ferencz e William Denson,
            respectivamente; o juiz polonês Jan Sehn, que comandou o caso de Rudolf Höss, um dos cabeças do campo de
            concentração de Auschwitz; o juiz e promotor da Alemanha Fritz Bauer, que forçou seus conterrâneos a
            confrontar os registros do genocídio; o agente do Mossad Rafi Eitan, que liderou a equipe israelense
            responsável pela prisão de Adolf Eichmann na Argentina; e Eli Rosenbaum, que liderou os esforços pela
            extradição dos criminosos de guerra que residiam tranquilamente nos Estados Unidos.</p>
        <br><br>

        <h2> O desparacimento de Josef Mengele (2017)</h2>
        <a href="https://www.amazon.com.br/Desaparecimento-Josef-Mengele-Olivier-Guez/dp/8551004700">
            <img src="{{ url_for('static', filename='book-6.jpg')}}">
        </a>
        <h3> Sinopse: </h3>
        <p> &emsp; Josef Mengele, o médico nazista que ficou conhecido como Anjo da Morte no campo de concentração de
            Auschwitz, escolhia o destino de suas vítimas: as câmaras de gás, os trabalhos forçados ou seu laboratório,
            alimentado diariamente com anões, gigantes, deformados e gêmeos para pesquisas e experimentos macabros. Ele
            consegue escapar dos tribunais no fim da Segunda Guerra Mundial, mudando-se para a América do Sul em 1949,
            quando chega à Argentina.</p>
        <p> &emsp; Escondido sob vários pseudônimos, Mengele acredita poder levar uma vida nova em Buenos Aires. A
            Argentina de Perón é benevolente, o mundo inteiro quer esquecer os crimes cometidos pelos nazistas. Mas a
            perseguição recomeça e o médico precisa fugir para o Paraguai e depois para o Brasil. Sua mudança de
            esconderijo para esconderijo não cessou até a sua morte misteriosa em uma praia brasileira no ano de 1979.
        </p>
        <p> &emsp; Como um médico da mais temida organização nazista pôde passar despercebido por trinta anos? O
            desaparecimento de Josef Mengele é um mergulho em um mundo corrompido pelo fanatismo, a política, o dinheiro
            e a ambição, habitado por velhos nazistas, agentes do Mossad, espiões e ditadores. Olivier Guez traça a
            odisseia da fuga de Josef Mengele pela América do Sul, em um romance-verdade sobre sua vida clandestina
            depois da guerra.</p>
        <br><br>

        <h2> No jardim das feras (2011)</h2>
        <a href="https://www.amazon.com.br/Jardim-das-Feras-Erik-Larson/dp/8580571774">
            <img src="{{ url_for('static', filename='book-7.jpg')}}">
        </a>
        <h3> Sinopse: </h3>
        <p> &emsp; De forma inesperada, o professor William E. Dodd, da Universidade de Chicago, é convidado para
            assumir a embaixada dos Estados Unidos na Alemanha em 1933. Junto com a esposa e os dois filhos adultos, ele
            parte para Berlim, decidido a manter-se neutro em relação ao governo de Adolph Hitler. A animada vida social
            e o charme dos homens do Terceiro Reich a princípio encantam sua jovem filha Martha. Mas o deslumbramento
            não dura.</p>
        <p> &emsp; Com o tempo, a família Dodd testemunha a crescente perseguição aos judeus, a censura à imprensa e a
            implantação de assustadoras leis. Em No jardim das feras, o escritor Erik Larson reconstitui o ambiente cada
            vez mais opressivo de Berlim pela perspectiva dos Dodd – registrada em cartas, diários e documentos – e
            revela uma era de surpreendentes nuances e complexidades.</p>
        <br><br>

        <h2> Inferno: o mundo em guerra (2011)</h2>
        <a href="https://www.amazon.com.br/Inferno-mundo-em-guerra-1939-1945-ebook/dp/B00AHGZ9BM">
            <img src="{{ url_for('static', filename='book-8.jpg')}}">
        </a>
        <h3> Sinopse: </h3>
        <p> &emsp; Para muitos historiadores, nenhum outro acontecimento da história da humanidade teve o impacto da
            Segunda Guerra Mundial, que entre 1939 e 1945 abalou as vidas de centenas de milhões de pessoas em todo o
            planeta. Jornalista especializado na cobertura de conflitos, com vinte livros publicados, o inglês Max
            Hastings traça, em apenas um volume, um vasto painel da guerra em todos os fronts, colocando em primeiro
            plano o testemunho de pessoas comuns, obtido em cartas, diários, livros de memórias e depoimentos.</p>
        <p> &emsp; Estudo monumental e abrangente do conflito, Inferno não se limita a fazer uma simples narrativa da
            sequência de eventos trágicos, desde a invasão da Polônia até a explosão das bombas de Hiroshima e Nagasaki,
            mas revela ao leitor do século XXI como foi viver, lutar e morrer em um mundo em guerra.</p>
        <br><br>

        <h2> Tempo de luz (2019)</h2>
        <a href="https://www.amazon.com.br/Tempo-Luz-Scharer-Whitney/dp/8551004417">
            <img src="{{ url_for('static', filename='book-9.jpg')}}">
        </a>
        <h3> Sinopse: </h3>
        <p> &emsp; Quando chega a Paris, Lee Miller está disposta a dar início à carreira como fotógrafa. Modelo de
            sucesso em Nova York, ela não queria mais ser o objeto de lentes alheias e se sentia pronta para mostrar o
            mundo sob a própria perspectiva. Eis que o ambiente boêmio da cidade propicia um inusitado encontro com Man
            Ray, dando início a uma história de amor, amadurecimento e descobertas que transformará a vida dos dois.</p>
        <p> &emsp; Mais velha, morando em uma fazenda em Sussex, Lee entremeia suas memórias do tempo em que morou em
            Paris com as reminiscências dos anos sombrios, porém produtivos, em que atuou como correspondente foto
            gráfica durante a Segunda Guerra Mundial. No livro, Whitney Scharer mostra também um lado desconhecido de
            Man Ray, como amante e mentor. Em um ambiente livre e artístico, porém sexista, ele e seu círculo de amigos
            famosos não levam o trabalho das mulheres a sério, fazendo com que Lee reflita sobre suas próprias questões
            e talentos.</p>
        <br><br>

        <h2> O menino do pijama listrado (2006)</h2>
        <a href="https://www.amazon.com.br/menino-do-pijama-listrado/dp/853591112X">
            <img src="{{ url_for('static', filename='ten-book-10.jpg')}}">
        </a>
        <h3> Sinopse: </h3>
        <p> &emsp; Bruno tem nove anos e não sabe nada sobre o Holocausto e a Solução Final contra os judeus. Também não
            faz idéia que seu país está em guerra com boa parte da Europa, e muito menos que sua família está envolvida
            no conflito. Na verdade, Bruno sabe apenas que foi obrigado a abandonar a espaçosa casa em que vivia em
            Berlim e a mudar-se para uma região desolada, onde ele não tem ninguém para brincar nem nada para fazer. Da
            janela do quarto, Bruno pode ver uma cerca, e para além dela centenas de pessoas de pijama, que sempre o
            deixam com frio na barriga. Em uma de suas andanças Bruno conhece Shmuel, um garoto do outro lado da cerca
            que curiosamente nasceu no mesmo dia que ele. Conforme a amizade dos dois se intensifica, Bruno vai aos
            poucos tentando elucidar o mistério que ronda as atividades de seu pai. O menino do pijama listrado é uma
            fábula sobre amizade em tempos de guerra, e sobre o que acontece quando a inocência é colocada diante de um
            monstro terrível e inimaginável.</p>
        <br><br>
        <a href="https://segunda-guerra-mundial.herokuapp.com/">
            <button>
                Menu Inicial
            </button>
        </a>
        <a href="#">
            <button>
                Topo da Página
            </button>
        </a>
    </main>
</body>
</html>
