<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <style>
    body {
        background: url('https://wallpapercave.com/wp/wp5407080.jpg') fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    h1 {
        background-color: #FAFD31;
        text-align: center;
        width: 60%;
        margin-left: 270px;
        border-radius: 30px;
        padding: 20px;
    }
    h2 {
        text-align: justify;
    }
    main {
        background-color: white;
        color: black;
        border-radius: 30px;
        text-align: center;
        width: 60%;
        margin-left: 270px;
        padding: 20px;
    }
    button {
        background-color: black;
        color: #FAFD31;
        padding: 25px;
        width: 170px;
        margin: 12px;
        border-radius: 30px;
        font-size: 20px;
        border: 5px solid #FAFD31;
    }
    img {
        width: 200px;
        border-radius: 100px;
        border: 5px solid #FAFD31;
    }
    </style>
</head>
<body>
    <h1 id="top">Quiz da Segunda Guerra Mundial</h1>
    <main>
        <h2>
            1. Qual destes países foi o último a entrar na guerra?
        </h2>
    <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/correto">
        <button>
            EUA
        </button>
    </a>
    <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/errado">
        <button>
            Rússia
        </button>
        <button>
            Inglaterra
        </button>
        <button>
            França
        </button>
    </a>
        <br><br>
        <br><br>
        <h2>
            2. Em qual ano a guerra começou?
        </h2>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/errado">
            <button>
                1938
            </button>
        </a>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/correto">
            <button>
                1939
            </button>
        </a>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/errado">
            <button>
                1935
            </button>
            <button>
                1940
            </button>
        </a>
        <br><br>
        <br><br>
        <h2>
            3. Quem liderou as "Forças Francesas Livres" durante a guerra?
        </h2>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/errado">
            <button>
                Monteupellier del Rey
            </button>
            <button>
                Winston Churchill
            </button>
            <button>
                Duque de Meillerayer
            </button>
        </a>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/correto">
            <button>
                Charles de Gaulle
            </button>
        </a>
        <br><br>
        <br><br>
        <h2>
            4. Qual desses países perderam a guerra?
        </h2>
            <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/correto">
        <button>
            Japão
        </button>
    </a>
    <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/errado">
        <button>
            Brasil
        </button>
        <button>
            Inglaterra
        </button>
        <button>
            França
        </button>
    </a>
        <br><br>
        <br><br>
        <h2>
            5. Winston Churchill governava qual nação durante a guerra?
        </h2>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/errado">
            <button>
                EUA
            </button>
            <button>
                França
            </button>
            <button>
                Bélgica
            </button>
        </a>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/correto">
            <button>
                Inglaterra
            </button>
        </a>
        <br><br>
        <br><br>
        <h2>
            6. Em qual ano o Brasil entrou na guerra?
        </h2>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/errado">
            <button>
                1940
            </button>
            <button>
                1943
            </button>
            <button>
                1941
            </button>
        </a>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/correto">
            <button>
                1942
            </button>
        </a>
        <br><br>
        <br><br>
        <h2>
            7. Qual foi o estopim da guerra?
        </h2>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/errado">
            <button>
                Invasão da França pela Alemanha &emsp;
            </button>
            <button>
                Ataque Japonês à Pearl Harbor
            </button>
        </a>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/correto">
            <button>
                Invasão da Polônia pela Alemanha
            </button>
        </a>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/errado">
            <button>
                Ataque Inglês à Berlim
                <p></p>
            </button>
        </a>
        <br><br>
        <br><br>
        <h2>
            8. Em qual país surgiu o "fascismo"?
        </h2>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/correto">
            <button>
                Itália
            </button>
        </a>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/errado">
            <button>
                Turquia
            </button>
            <button>
                França
            </button>
            <button>
                Hungria
            </button>
        </a>
        <br><br>
        <br><br>
        <h2>
            9. Quantos anos durou a guerra?
        </h2>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/errado">
            <button>
                5
            </button>
        </a>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/correto">
            <button>
                6
            </button>
        </a>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/errado">
            <button>
                7
            </button>
            <button>
                4
            </button>
        </a>
        <br><br>
        <br><br>
        <h2>
            10. O que foi criado após a guerra?
        </h2>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/correto">
            <button>
                ONU
            </button>
        </a>
        <a href="https://segunda-guerra-mundial.herokuapp.com/quiz/errado">
            <button>
                Avião
            </button>
            <button>
                Telefone
            </button>
            <button>
                Rádio
            </button>
        </a>
        <br><br>
        <br><br>
        <a href="https://segunda-guerra-mundial.herokuapp.com/">
            <img src="{{ url_for('static', filename='return_icon.jpg')}}">
        </a>
    </main>
</body>
</html>